/* Base Styles - Global resets and typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1:hover {
    color: #888; 
    transform: translateX(5px);
    transition: color 0.3s ease, text-decoration 0.3s ease;; 
    cursor: default;
}